netologyedu/Automation_and_CI_CD/7_4/1/.terraform/
netologyedu/Automation_and_CI_CD/7_4/1/.terraform.*
netologyedu/Automation_and_CI_CD/7_4/2/.terraform/
netologyedu/Automation_and_CI_CD/7_4/2/.terraform.*
netologyedu/Automation_and_CI_CD/7_4/3/.terraform/
netologyedu/Automation_and_CI_CD/7_4/3/.terraform.*